body{
    display: flex;
    background-color: rgb(53, 53, 83);
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    margin: 0px;
    height: fit-content;

}
nav, main > section {
    overflow: auto;
    width: 100%;
}
main > section {
    min-height: 100vh;
    width: 100%;
}
nav ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    background-color: darkblue;
    justify-content: center;
    align-content: center;
    margin: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

}
nav ul li{
    padding: 8px;
    background-color: darkblue;
    margin:10px;
    align-self: center;
    color:white;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    

}
nav a{
    color: white;
}
nav img{
    width: 30px;
}
#banner{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 6em;
    color: white;
    background-image: url(Images/DeskImage.png);
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
    text-shadow: 0 0 20px whitesmoke;
}


#MacBookPro{
    display:flex;
    background-color: lightslategray;
    justify-content:center;
    align-content: flex-end;
    flex-direction: column;
    width: 100%;

}
#MacBookPro ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
}
.card {
    display: flex;
    width: 400px;
	margin: 1em;
    background-color: rgb(204, 204, 204);
    text-align:center;
    max-height: 900px;
    font-weight: 999;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    z-index: 0;
}
.card img{
    width: 100%;
}
#MacBookPro h1{
    align-self:center;
    justify-self: center;
    margin: 0;
    font-weight: 999;
    font-size: 3em;
}
.card > a{
    align-self: flex-end;
    
    background-color: darkgray;
    padding: 1em;
    margin: auto;

}
#Mouse{
    display: flex;
    background-image: url(Images/Mouse.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    align-self: center;
    justify-content: center;
}
#Mouse > div{
    
    background-color:rgba(204, 204, 204,.44);
	padding: 1em;
	width: 75%;
    max-width: 700px;
    align-self: center;
    text-align: center;
}
#Monitor{
    background-color: lightslategray;
    display: flex;
}
#Monitor > div{
    display: flex;
    justify-content: center;
    width: 75%;
    margin: auto;
    background-color:rgba(204, 204, 204,.44) ;
    text-align: center;
    align-items: center;
}
#Monitor > div > div:nth-child(2) {
	flex: 3;
    margin: 0 2em 0 0;
    
}

#Monitor > div > div:nth-child(1) {
	flex: 2;
}

#contact{
    display: flex;
    justify-content: center;
    align-content: center;
}
#contact > div{
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 2em;
    background-color:rgba(204, 204, 204,.44) ;
    text-align: center;
    align-items: center;
    flex-direction: row;

}
#contact ul,li{
    display: flex;
    list-style: none;
    color: black;
    padding: 1em;
    justify-content: center;
}
#contact label {
	display: flex;
    flex-direction: column;
    margin: 0 2em 0 0;
}
input, textarea {
	border: 1px solid #000;
	padding: 0.5em;
	margin: 0 0 0 0;
	width: 20em;
	font-size: 1em;
}
textarea {
	height: 9em;
	margin: 0 0 0 0;
}
form button {
	width: auto;
	font-size: 1em;
	margin: 1em 1em 1em 0;
	align-self: center;
	padding: 0.5em 1em;
	background-color:rgb(0, 0, 0);
	color: #fff;
	border: none;
}
#contact img{
    width: 30%;
    max-width: 500px;
    border: solid black 2px;
}
