body{
    display: flex;
    background-color: rgb(53, 53, 83);
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: row;
    margin: 0px;

}
nav, main > section {
	overflow: auto;
}
main > section {
	min-height: 100vh;
}
nav ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    background-color: darkblue;
    justify-content: center;
    align-content: center;
    margin: 0px;
    position: fixed;
    top: 0;
    width: 100%;

}
nav ul li{
    padding: 8px;
    background-color: darkblue;
    margin:10px;
    align-self: center;
    color:white;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    

}
nav a{
    color: white;
}
nav img{
    width: 30px;
}
#banner{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 6em;
    color: white;
    background-image: url(DeskImage.png);
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
    text-shadow: 0 0 20px whitesmoke;
}

section#banner img{
    width:400px;
}
section#MacBookPro{
    display:flex;
    background-color: white;
    justify-content:space-around;
    align-content: center;

}
section#MacBookPro figure{
    width: 30%;
    /*border-style: groove;
    border-color: rgb(53, 53, 83);*/
    margin: 4px;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    max-width: 300px;
    
}
section#MacBookPro figure img{
    display:flex;
    width: 100%;

}
section#MacBookPro figcaption{
    width: initial;
    text-align: center;
    border-style: solid;
    
}

footer img{
    width: 20%;
}